.nav {
    width: 100%;
    /* border-bottom: 1px solid #D0CFCF; */
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 50;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 0px 13px -2px rgba(163, 163, 163, 0.604);
    box-shadow: 0px 0px 13px -2px rgba(183, 183, 183, 0.422);
}

.main {
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
}

.camera {
    display: none;
    margin: 0px 10px;
}

/* input */
.Hotbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #cbcbcb;
    height: 40px;
    border-radius: 10px;
    padding: 10px;

    width: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* .Hotbg:hover > .Hotbg_txt {
    width: 160px;
} */

.Hotbg_btn {
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: rgb(62, 62, 62);
    cursor: pointer;

    padding-left: 2px;
}

/* .Hotbg_btn  > i {
    font-size-adjust: 30px;
} */

/* a {
    text-decoration: none;
} */

.Hotbg_txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(12, 12, 12);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 130px;
    font-weight: bold;
}

@media screen and (max-width:1030px) {
    .Hotbg {
        display: none;
    }
}

/* end */

/* .search {
    padding: 5px 20px;
    display: flex;
    border: 1px solid #D0CFCF;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.searchinput {
    border: none;
    background-color: #fafafa;
    text-align: center;
    outline: none;
}

.searchicon {
    position: relative;
    padding-left: 10px;
}

.Searchicon {
    display: none;
} */

.menu {
    display: flex;
    flex-direction: row;

}

.home {
    margin: 0px 10px;
}

.home:hover {
    cursor: pointer;
    transform: scale(1.22);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    transition-duration: 150ms;
}

.messanger {
    margin: 0px 10px;
}

.messanger:hover {
    cursor: pointer;
    transform: scale(1.22);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    transition-duration: 150ms;
}

.Explore {
    margin: 0px 10px;
}

.Explore:hover {
    cursor: pointer;
    transform: scale(1.22);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    transition-duration: 150ms;
}

.newpost {
    margin: 0px 10px;
}

.newpost:hover {
    cursor: pointer;
    transform: scale(1.22);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    transition-duration: 150ms;
}

.heart {
    margin: 0px 10px;
}

.heart:hover {
    cursor: pointer;
    transform: scale(1.22);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    transition-duration: 150ms;
}

.user {
    margin: auto 10px;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #ddd;
    cursor: pointer;
}

.messanger p {
    height: 15px;
    width: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ed4956;
    border-radius: 50px;
    font-size: 10px;
    top: 5px;
    margin-left: 10px;
    z-index: 10;
}

@media only screen and (max-width:600px) {
    .main {
        justify-content: space-between;
    }

    .camera {
        display: block;
    }

    .search {
        display: none;
    }

    .home {
        display: none;
    }

    .Explore {
        display: none;
    }

    .newpost {
        display: none;
    }

    .heart {
        display: none;
    }

    .user {
        display: none;
    }

}